<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soft12.parte_trabajo" >

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wrench_screwdriver"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.InicioSesion"
            android:label="Login"
            android:theme="@style/CustomActionBarTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InicioActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activities.Coche.AddCocheActivity"
            android:label="@string/coche"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".activities.Repostaje.AddRepostajeActivity"
            android:label="@string/repostaje"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />

        <activity
            android:name=".activities.Diario.AddDiarioActivity"
            android:label="@string/diario"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"/>
        <activity
            android:name=".activities.Repostaje.ListRepostajeActivity"
            android:label="@string/all_repostaje"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activities.Coche.ListCochesActivity"
            android:label="@string/all_coches"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activities.Diario.ListDiarioActivity"
            android:label="@string/all_diario"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activities.SlideScreen.IniciarFragmentActivity"
            android:label="Diario"
            android:parentActivityName=".activities.InicioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".activities.Excel.EnviarExcel"
            android:label="Excel"
            android:parentActivityName=".activities.InicioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
    </application>

</manifest>
